<!-- PRIMEIRA ABA DE NAVEGAÇÃO DO MENU -->
<div class="container-fluid">

  <div class="row v-green-bg">
    <div class="col-sm-9">
      <ul>
        <li class="list01 v-white"><img src="img/vale_logo_w.png" class="logo"></li>
        <li class="list01 list02 v-white">Entregas</li>
        <li class="list01 list02 v-white">Cadastros</li>
        <li class="list01 list02 v-white">Históricos</li>
      </ul>
    </div>

    <div class="col-sm-3 ">
      <ul>
        <li class="photo3x4"><img src="img/foto1.jpg" class="img-circle foto3x4"></li>
        <li class="v-white list03">João Pedro</li>
      </ul>


    </div>
  </div>


  <!-- SEGUNDA ABA DE NAVEGAÇÃO DO MENU -->



  <div class="row  list08">
    <div class="col-sm-5 v-green-bg">
      <ul>
        <li class=" list04">
          <p class="v-yellow-bg v-gray">10/07</p>
        </li>

        <li class="list04">
          <div>
            <ul>
              <li class="list05 v-yellow-bg v-gray">200</li>
              <li class="list05 v-white">Linhas</li>
            </ul>
          </div>
        </li>

        <li class="list04 list06">
          <div>
            <ul>
              <li class="list05 v-yellow-bg v-gray">03</li>
              <li class="list05 v-white">Domicílios</li>
            </ul>
          </div>
        </li>
      </ul>

    </div>


    <div class="col-sm-7 v-green-bg">
      <ul>

        <li class="list07 v-white ">A entregar
          <li>
            <span class="badge badge-pill v-yellow-bg v-gray badgebuttons">150</span></li>
        </li>


        <li class="list07 v-white">Carregado
          <li>
            <span class="badge badge-pill v-yellow-bg v-gray badgebuttons">150</span></li>
        </li>
        <li class="list07 v-white">Desassistido
          <li>
            <span class="badge badge-pill v-yellow-bg v-gray badgebuttons">150</span></li>
        </li>
        <li class="list07 v-white">Entregue
          <li>
            <span class="badge badge-pill v-light-green-bg v-white badgebuttons">150</span></li>
        </li>
        <li class="list07 v-white">Pendente
          <li>
            <span class="badge badge-pill v-red-bg v-white badgebuttons">150</span></li>
        </li>
        <li class="list07 v-white">Rejeitado
          <li>
            <span class="badge badge-pill v-red-bg v-white badgebuttons">150</span></li>
        </li>
      </ul>
    </div>


  </div>


  <!-- TERCEIRA ABA DE NAVEGAÇÃO-->

  <div class="row v-gray-bg">
    <div class="col-sm-12">
      <ul>
        <li class="v-white list09">Filtrar por: </li>
        <li class="v-white list09">Todos os domicílios</li>
        <li class="v-white list09">Todos os tipos</li>
        <li class="v-white list09">Agrupar por: Placas</li>
        <li class="v-white list09">Icones</li>
      </ul>
    </div>


  </div>

  <!-- QUARTA ABA DE NAVEGAÇÃO 1-->

  <div class="row linha">

    <div class="col-sm-3 v-gray-bg">
      <p class="v-white list11">Buscar</p>
    </div>

    <div class="col-sm-9 v-gray-bg">
      <ul>
        <li class="v-white list12 list13" >Placas </li>
        <li class="v-white list12">Semana Passada</li>
        <li class="v-white list12">Icones</li>

      </ul>
    </div>

  </div>

  <!-- ABA DA LISTA DE FILTROS -->



  <!--Fim do Content -->
</div>