<!-- PRIMEIRA ABA DE NAVEGAÇÃO DO MENU -->
<div class="container-fluid">

  <div class="row v-green-bg">
    <div class="col-sm-9">
      <ul>
        <li class="list01 v-white"><img src="img/vale_logo_w.png" class="logo"></li>
        <li class="list01 list02 v-white">Entregas</li>
        <li class="list01 list02 v-white">Cadastros</li>
        <li class="list01 list02 v-white">Históricos</li>
      </ul>
    </div>

    <div class="col-sm-3 ">
      <p class="v-white list03">João Pedro</p>
    </div>
  </div>


  <!-- SEGUNDA ABA DE NAVEGAÇÃO DO MENU -->



  <div class="row  list08">
    <div class="col-sm-5 v-green-bg">
      <ul>
        <li class=" list04">
          <p class="v-yellow-bg v-gray">10/07</p>
        </li>

        <li class="list04">
          <div>
            <ul>
              <li class="list05 v-yellow-bg v-gray">200</li>
              <li class="list05 v-white">Linhas</li>
            </ul>
          </div>
        </li>

        <li class="list04 list06">
          <div>
            <ul>
              <li class="list05 v-yellow-bg v-gray">03</li>
              <li class="list05 v-white">Domicílios</li>
            </ul>
          </div>
        </li>
      </ul>

    </div>


    <div class="col-sm-7 v-green-bg">
      <ul>
        <li class="list07 v-white">A entregar</li>
        <li class="list07 v-white">Carregado</li>
        <li class="list07 v-white">Desassistido</li>
        <li class="list07 v-white">Entregue</li>
        <li class="list07 v-white">Pendente</li>
        <li class="list07 v-white">Rejeitado</li>
      </ul>
    </div>


  </div>


<!-- TERCEIRA ABA DE NAVEGAÇÃO-->

<div class="row v-gray-bg">
  <div class="col-sm-12">
    <ul>
      <li class="v-white list09">Filtrar por: Placa
          

      </li>
         
      <li class="v-white list09">Todos os domicílios</li>
      <li class="v-white list09">Todos os tipos</li>
      <li class="v-white list09">Agrupar por: Placas</li>
      <li class="v-white list09">Icones</li>          
    </ul>
  </div>
  

</div>

<!-- QUARTA ABA DE NAVEGAÇÃO 1-->

<div class="row ">
  
  <div class="col-sm-3 marcador2">
    <p class="v-white">Buscar</p>
  </div>

  <div class="col-sm-9 marcador2">
    <ul>
      <li class="v-white">Placas</li>
      <li  class="v-white">Semana Passada</li>
      <li  class="v-white">Icones</li>
      
    </ul>
  </div>

  </div> 





<!--Fim do Content -->
</div>


